{% extends 'base.html' %}

{% block head %}
    <title>Group details</title>
{% endblock %}

{% block nav %}
    <ul class="navbar-nav ml-auto flex-nowrap">
        <li class="nav-item">
            <a href="{% url 'keashareapp:index' %}" class="nav-link m-2 menu-item nav-active">Home</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'keashareapp:groups' %}" class="nav-link m-2 menu-item nav-active">Groups</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'loginapp:profile' %}" class="nav-link m-2 menu-item nav-active">Profile</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'loginapp:logout' %}" class="nav-link m-2 menu-item nav-active">Logout</a>
        </li>
    </ul>
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        {% for group in user_groups %}
            <h1>{{ group.name }}</h1>
            <p>Group description: {{ group.description }}</p>
        {% endfor %}
        <hr>

        <h2>Post in group</h2>
        {% for group in user_groups %}
            <form action="{{ group.pk }}" method="POST">
        {% endfor %}
                {% csrf_token  %}
                <p><select name="group" id="group">
                    {% for group in user_groups %}
                        <option value="{{ group.pk }}">{{ group.name }}</option>
                    {% endfor %}
                </select></p>
                <p><input type="textarea" name="text" id="text" placeholder="Post something"></p>
                <p><input type="submit" value="Submit"></p>
            </form>
        <hr>

        <!-- POSTS THAT BELONGS TO GROUP -->
        <div>
        {% for post in posts %}
            Created: {{ post.created }}
            Last updated: {{ post.last_updated }}
            By: {{ post.user }}
            <div>{{ post.text }}</div>
            <hr>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

