{% extends 'base.html' %}

{% block head %}
    <title>Groups</title>
{% endblock %}

{% block nav %}
    <ul class="navbar-nav ml-auto flex-nowrap">
        <li class="nav-item">
            <a href="{% url 'keashareapp:index' %}" class="nav-link m-2 menu-item nav-active">Home</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'keashareapp:groups' %}" class="nav-link m-2 menu-item nav-active">Groups</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'loginapp:profile' %}" class="nav-link m-2 menu-item nav-active">Profile</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'loginapp:logout' %}" class="nav-link m-2 menu-item nav-active">Logout</a>
        </li>
    </ul>
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <h1>Groups</h1>
        <hr>
        <h2>Create new group</h2>
        <form action="{% url 'keashareapp:groups' %}" method="POST">
            {% csrf_token %}
            <label for="name">Name</label>
            <input id="name" name="name" type="text" placeholder="name">
            <label for="description">Description</label>
            <input id="description" name="description" type="textarea" placeholder="description">
            <input type="submit" value="Create group">
        </form>
        <hr>
        <h2>My groups</h2>
        <hr>
        {% for group in user_groups %}
            <p><a href="{% url 'keashareapp:groupdetails' pk=group.pk %}">{{ group.name }}</a> - {{ group.description }} - <a href="{% url 'keashareapp:leave_group' pk=group.pk %}">Leave Group</a></p>
            <hr>
        {% endfor %}
        
        <h2>Discover groups</h2>
        <hr>
        {% for group in not_user_groups %}
            <p><a href="{% url 'keashareapp:groupdetails' pk=group.pk %}">{{ group.name }}</a> - {{ group.description }} - <a href="{% url 'keashareapp:join_group' pk=group.pk %}">Join Group</a></p>
            <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}

