{% extends 'base.html' %}

{% block head %}
    <title>Keashare</title>
{% endblock %}

{% block nav %}
    <ul class="navbar-nav ml-auto flex-nowrap">
        <li class="nav-item">
            <a href="{% url 'keashareapp:index' %}" class="nav-link m-2 menu-item nav-active">Home</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'loginapp:profile' %}" class="nav-link m-2 menu-item nav-active">Profile</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'loginapp:logout' %}" class="nav-link m-2 menu-item nav-active">Logout</a>
        </li>
    </ul>
{% endblock %}

{% block body %}

<div class="container">
    <div class="jumbotron">
        <h1>Keashare</h1>
        <h2>Welcome: {{ user.username }}</h2>
    </div>
</div>

{% endblock %}

