<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit profile</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
    body{
       padding: 2%;
    }

    .form-control{
        width: 400px;
    }
    button{
        background-color: #007bff!important;
        color: white!important;
    }
    </style>
</head>
<body>
    <h1>Edit profile</h1>

    <form action="{% url 'loginapp:edit_profile' %}" method="POST">
        {% csrf_token %}
        <label for="bio">Bio</label>
        <input type="text" name="bio" id="bio" placehoder="bio" class="form-control">
        <label for="city">city</label>
        <input type="text" name="city" id="city" placehoder="city" class="form-control">
        <label for="study">study</label>
        <input type="text" name="study" id="study" placehoder="study" class="form-control">
        <input type="submit" value="Submit" class="form-control">
    </form>


</body>
</html>
