{% extends 'base.html' %}

{% block head %} 
    <title>Edit profile</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <div class="form-container">
        <h1>Edit profile</h1>
            <div class="profile-form">
                <form action="{% url 'loginapp:edit_profile' %}" method="POST">
                    {% csrf_token %}
                    <label for="bio">Bio</label>
                    <input type="text" name="bio" id="bio" placehoder="{{ user.profile.bio }}" value="{{ user.profile.bio }}" class="form-control">
                    <label for="city">City</label>
                    <input type="text" name="city" id="city" placehoder="{{ user.profile.city }}" value="{{ user.profile.city }}" class="form-control">
                    <label for="study">Study</label>
                    <p><input type="text" name="study" id="study" placehoder="{{ user.profile.study }}" value="{{ user.profile.study }}" class="form-control"></p>
                    <p><input type="submit" value="Submit" class="form-control"></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}