{% extends 'base.html' %}

{% block head %} 
    <title>Profile</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <div class="form-container">
            <h1>Profile</h1>
            <hr>
                <p>Username: {{ user.username }}</p>
                <hr>
                <p>Email: {{ user.email }}</p>
                <hr>
                <p>Bio: {{ user.profile.bio }}</p>
                <hr>
                <p>City: {{ user.profile.city }}</p>
                <hr>
                <p>Study: {{ user.profile.study }}</p>
            <hr>
            <div class="edit-btn"><a href="{% url 'loginapp:edit_profile' %}">Edit profile</a></div>
        </div>
    </div>
</div>
{% endblock %}}