{% extends 'base.html' %}

{% block head %} 
    <title>Register</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <h1>Register</h1>

        <form action="{% url 'loginapp:register' %}" method="POST">
            {% csrf_token %}
            <label for="user">Username</label>
            <input type="text" name="user" id="user" placehoder="Username" class="form-control">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placehoder="Password" class="form-control">
            <label for="confirmPassword">Confirm password</label>
            <input type="password" name="confirmPassword" id="confirmPassword" placehoder="confirmPassword" class="form-control">
            <!-- <input class="button" type="submit" value="Submit" class="form-control"> -->
            <button class="form-control">Submit</button>
        </form>

        {% if error %} 
            <p class="error"> {{ error }} </p> 
        {% endif %}
    </div>
</div>
{% endblock %}