<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset password</title>
</head>
<body>
    <h1>Reset password</h1>

    <form action="{% url 'loginapp:reset_password' %}" method="POST">
        {% csrf_token %}
        <label for="user">Username</label>
        <input type="text" name="user" id="user" placehoder="Username">
        <input type="submit" value="Submit">
    </form>

    {% if error %} 
        <p class="error"> {{ error }} </p> 
    {% endif %}
</body>
</html>
