{% extends 'base.html' %}

{% block head %} 
    <title>Reset password</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <div class="form-container">
            <h1>Reset password</h1>
            <form action="{% url 'loginapp:reset_password' %}" method="POST">
                {% csrf_token %}
                <label for="user">Username</label>
                <p><input type="text" name="user" id="user" placehoder="Username" class="form-control"></p>
                <label for="email">Email</label>
                <p><input type="text" name="email" id="email" placehoder="Email" class="form-control"></p>
                <p><input type="submit" value="Submit" class="form-control"></p>
            </form>
            {% if error %} 
                <p class="error"> {{ error }} </p> 
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}